In [ ]:
# Sets are unordered, unchangeable, no duplicates

thisset = {"apple", "banana", "cherry"}
print(thisset)

In [5]:
# Duplicates are ignored
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
# True and 1 are the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

In [6]:
set1 = {"abc", 34, True, 40, "male"}

In [7]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

banana
cherry
apple
True
False

In [ ]:
# Add new items

thisset = {"apple", "banana", "cherry"}
thisset.("orange")
print(thisset)

In [9]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

# Can I add a list to a set?

{'banana', 'mango', 'papaya', 'cherry', 'pineapple', 'apple'}

In [10]:
#Add Item
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)

print(thisset)

# Remove item
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'kiwi', 'apple', 'banana', 'cherry', 'orange'}
{'cherry', 'apple'}

In [11]:
# There are several ways to join two or more sets in Python.
# The union() and update() methods joins all items from both sets. (excluding duplicates)
# The intersection() method keeps ONLY the duplicates.
# The difference() method keeps the items from the first set that are not in the other set(s).
# The symmetric_difference() method keeps all items EXCEPT the duplicates.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# Union operator
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

# join multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

# Can I join a set and a tuple?

{1, 'a', 2, 3, 'c', 'b'}
{1, 'a', 2, 3, 'c', 'b'}
{1, 'a', 2, 3, 'c', 'b', 'apple', 'bananas', 'Elena', 'cherry', 'John'}

In [12]:
# Join set and tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

#

{1, 'a', 2, 3, 'c', 'b'}

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

# Note: The - operator only allows you to join sets with sets, 
# and not with other data types like you can with the difference() method.

{'banana', 'cherry'}

In [15]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [ ]:
# Add table later